<nav id="mainNavbar" class="navbar navbar-light navbar-fixed-top navbar-expand-lg custom fixed-top">
    <a class="navbar-brand" [routerLink]="['/']"><span class="nav-logo-left">TyreLess</span><span class="nav-logo-right">.co.za</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" class="nav-right">
        <a class="navbar-brand ml-auto" [routerLink]="['/contactUs']">
            <span class="nav-right-text text-success">CONTACT US</span>
        </a>
    </div>
</nav>

<div class="jumbotron custom header-section">
    <div class="container">
        <div class="row">
            <div class="get-it w-100">
                <h2 class="text-center">
                    <b>Tyre Care</b>
                </h2>
                <h4 class="text-center">Caring for your tyres are paramount to your safety and tyre longevity.
                    <br>The following will ensure that these are maintained:</h4>
            </div>
        </div>
    </div>
</div>

<div class="hide-from-mobile text-center" id="tyreCare">
    <div class="container">
            <br>
            <div class="card-deck">
                <div class="card card-transparent">
                    <div class="card-body">
                        <img src="../../assets/wheel_alignment.png" class="search-select-save" />
                        <br>
                        <br>
                        <h5 class="custom">Wheel Alignment</h5>
                        When your wheels are not aligned your vehicle will tend to veer to the left or right when the steering wheel is pointed straight
                        ahead. Safety and tyre wear is thereby compromised due to the scrubbing effect this has on your tyres. Periodic
                        wheel alignment should be done to prevent uneven and excessive wear and ensure driving safety is maintained.
                    </div>
                </div>
                <div class="card card-transparent">
                    <div class="card-body">
                        <img src="../../assets/tyre_pressure.png" class="search-select-save" />
                        <br>
                        <br>
                        <h5 class="custom">Tyre Pressure</h5>
                        Incorrectly inflated tyres will compromise safety, tyre wear and fuel consumption. Over inflated tyres will lead to greater
                        wear in the centre of the tyre and can eventually result in a blowout. Under inflated tyres will experience
                        increased wear and fuel consumption due to an increase in tyre temperature from greater surface friction
                        with the road. Periodically check your tyre pressures and ensure that these are consistent with vehicle specifications.
                    </div>
                </div>
                <div class="card card-transparent">
                    <div class="card-body">
                        <img src="../../assets/tyre_rotation.png" class="search-select-save" />
                        <br>
                        <br>
                        <h5 class="custom">Tyre Rotation</h5>
                        Tyres wear at different rates from back to front and from left to right of the vehicle. It is therefore important that tyres
                        are rotated periodically between the various positions to prevent uneven wear. Where tyre sizes differ from
                        back to front, only left to right and right to left rotation is possible.
                    </div>
                </div>
                <div class="card card-transparent">
                    <div class="card-body">
                        <img src="../../assets/visual_check.png" class="search-select-save" />
                        <br>
                        <br>
                        <h5 class="custom">Visual Check</h5>
                        Visual checks can go a long way in ensuring maximum safety is maintained and your tyres go the distance. If something looks
                        peculiar, visit your local fitment centre and have it checked.
                    </div>
                </div>
            </div>
            <br>
            <div class="container hide-from-mobile text-center p-0">
                    <div class="card card-transparent">
                        <div class="card-body">
                            If all else fails, simply visit your local fitment centre and request a check. This is usually done free of charge. Your
                            tyres are the only thing keeping your vehicle on the road and occupants safe, take care of them.
                        </div>
                    </div>
                    <br>
                </div>
    </div>
</div>

<div class="container text-center show-on-mobile">
    <div class="card">
        <div class="card-body">
            <img src="../../assets/wheel_alignment.png" class="search-select-save-sm" />
            <h5 class="custom">Wheel Alignment</h5>
            When your wheels are not aligned your vehicle will tend to veer to the left or right when the steering wheel is pointed straight
            ahead. Safety and tyre wear is thereby compromised due to the scrubbing effect this has on your tyres. Periodic
            wheel alignment should be done to prevent uneven and excessive wear and ensure driving safety is maintained.
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <img src="../../assets/tyre_pressure.png" class="search-select-save-sm" />
            <h5 class="custom">Tyre Pressure</h5>
            Incorrectly inflated tyres will compromise safety, tyre wear and fuel consumption. Over inflated tyres will lead to greater
            wear in the centre of the tyre and can eventually result in a blowout. Under inflated tyres will experience increased
            wear and fuel consumption due to an increase in tyre temperature from greater surface friction with the road.
            Periodically check your tyre pressures and ensure that these are consistent with vehicle specifications.
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <img src="../../assets/tyre_rotation.png" class="search-select-save-sm" />
            <h5 class="custom">Tyre Rotation</h5>
            Tyres wear at different rates from back to front and from left to right of the vehicle. It is therefore important that tyres
            are rotated periodically between the various positions to prevent uneven wear. Where tyre sizes differ from back
            to front, only left to right and right to left rotation is possible.
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <img src="../../assets/visual_check.png" class="search-select-save-sm" />
            <h5 class="custom">Visual Check</h5>
            Visual checks can go a long way in ensuring maximum safety is maintained and your tyres go the distance. If something looks
            peculiar, visit your local fitment centre and have it checked.
        </div>
    </div>
</div>