<div class="hide-from-mobile">
    <div class="jumbotron custom header-section">
        <div class="container">
            <div class="row">
                <div class="get-it w-100">
                    <h2 class="text-center">
                        <b>About Us</b>
                    </h2>
                    <h4 class="text-center">Search and compare tyres deal from hundreds of tyre retailers and fitment centres</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card-deck">
            <div class="card card-transparent">
                <div class="card-body">
                    <h5 class="custom text-center">Our Purpose</h5>
                    <br>
                    <img src="../../assets/Our Purpose.jpeg" class="w-100 rounded" />
                    <br>
                    <br> TyreLess.co.za is the preeminent site to find the best tyre deals in South Africa. Shopping for tyres
                    has never been easier.
                    <br>
                    <br> We are a team who are passionate about making your life a little easier. We believe that finding the
                    best tyre deals should be a tire less task.
                    <br>
                    <br> Our mission is to get you on track to save time and money on all your future tyre purchases.
                </div>
            </div>
            <div class="card card-transparent">
                <div class="card-body">
                    <h5 class="custom text-center">Contact Us</h5>
                    <br>
                    <form name="contactUsForm" #contactUsForm="ngForm">
                        <div class="row">
                            <!-- <div class="col-4 text-right">
                                        <label for="contactUsName">Name:</label>
                                    </div> -->
                            <div class="col-12">
                                <input type="text" id="contactUsName" name="contactUsName" class="form-control" [(ngModel)]="data.name" placeholder="Your Name"
                                    required/>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <input for="contactUsEmail" name="contactUsEmail" type="email" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                    placeholder="name@example.com" [email]="true" [(ngModel)]="data.email" required/>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <input id="contactUsSubject" name="contactUsSubject" type="text" class="form-control" placeholder="Subject" [(ngModel)]="data.subject"
                                    required />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <textarea id="contactUsMessage" name="contactUsMessage" class="form-control" placeholder="Message" rows="4" [(ngModel)]="data.message"
                                    required></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-success w-100" type="submit" (click)="submitContact()" [disabled]="!contactUsForm.form.valid">Submit</button>
                            </div>
                        </div>
                    </form>
                    <br> By Email:
                    <br>
                    <a href="mailto:engage@tyreless.co.za">
                        <b>engage@tyreless.co.za</b>
                    </a>
                    <br>
                    <br>
                    <a href="mailto:engage@tyreless.co.za?subject=Partner%20with%20TyreLess">
                        <b>Become a TyreLess Partner Retailer</b>
                    </a>
                    <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-header">
                            <h4 class="modal-title custom">Feedback received</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Thanks for reaching out to us. We will be in touch shortly.
                                <br>
                                <br>-TyreLess Team
                            </p>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="card card-transparent">
                <div class="card-body">
                    <h5 class="custom text-center" style="margin-bottom:10pt">Follow Us</h5>
                    <br>
                    <img src="../../assets/Follow Us.jpeg" class="w-100 rounded" />
                    <br>
                    <br>
                    <br>
                    <div class="social-icons text-center">
                        <a href="http://www.facebook.com" target="_blank" class="contact-facebook" ngbTooltip="Connect on Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="http://www.googleplus.com" target="_blank" class="contact-google" ngbTooltip="Connect on Google Plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="http://www.linkedin.com" target="_blank" class="contact-linkedin" ngbTooltip="Connect on LinkedIn">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="show-on-mobile">
    <hr>
    <div class="container">
        <div class="get-it w-100">
            <h4 class="text-center font-weight-bold">Follow Us</h4>
            <div class="social-icons text-center">
                <a href="http://www.facebook.com" target="_blank" class="contact-facebook" ngbTooltip="Connect on Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="http://www.googleplus.com" target="_blank" class="contact-google" ngbTooltip="Connect on Google Plus">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="http://www.linkedin.com" target="_blank" class="contact-linkedin" ngbTooltip="Connect on LinkedIn">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
        <hr>
        <h4 class="text-center font-weight-bold" style="margin-bottom:10pt">Contact Us</h4>
        By Email: <a href="mailto:engage@tyreless.co.za"><b>engage@tyreless.co.za</b></a>
        <br>
        <br>
        <a href="mailto:engage@tyreless.co.za?subject=Partner%20with%20TyreLess">
            <b>Become a TyreLess Partner Retailer</b>
        </a>
    </div>
    <hr>
</div>