<nav id="mainNavbar" class="navbar navbar-light navbar-fixed-top navbar-expand-lg custom fixed-top">
    <a class="navbar-brand" [routerLink]="['/']">
        <span class="nav-logo-left">TyreLess</span><span class="nav-logo-right">.co.za</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" class="nav-right">
        <a class="navbar-brand ml-auto" [routerLink]="['/home']" [queryParams]="{ contactUs: true }">
            <h6><span class="nav-right-text font-weight-bold">CONTACT US</span></h6>
        </a>
    </div>
</nav>
    <div class="jumbotron custom header-section">
        <div class="container">
            <div class="row">
                <div class="get-it w-100">
                    <h2 class="text-center hide-from-mobile">
                        <b>Terms of Use</b>
                    </h2>
                    <!-- <h4 class="text-center hide-from-mobile">How We Collect &amp; Use Information</h4> -->
                    <h4 class="text-center show-on-mobile">
                        <b>Terms of Use</b>
                    </h4>
                    <!-- <h6 class="text-center show-on-mobile">How We Collect &amp; Use Information</h6> -->
                </div>
            </div>
            <div class="card privacy-mobile">
                <div class="card-body font-weight-normal">
                    <p class="font-weight-bold">Introduction</p>
                    <p>
                        This page (together with the documents referred to on it) tells you the terms on
                        which you may make use of our website at <a [routerLink]="['/']">www.tyreless.co.za</a> (&quot;our site&quot;), and
                        any other <b>Tyreless.co.za</b> services which are available on our site. Please read
                        these Terms of Use carefully before you start to use our site. By using our site,
                        you indicate that you accept these Terms of Use and that you agree to abide
                        by them. If you do not agree to these Terms of Use, please refrain from using
                        our site.
                    </p>
                    <p class="font-weight-bold">Information about us</p>
                    <p>
                        The website at, <a [routerLink]="['/']">www.tyreless.co.za</a>, is operated by Facile Technologies (Pty)
                        Ltd to which the words &quot;we&quot;, &quot;us&quot; and &quot;our&quot; refer.
                        <br><br>
                        We own and operate the our site. We publish information on behalf of the tyre
                        product and service, retail industry, and we partner with many different tyre
                        retailers. We are not a tyre retailer, and we do not sell tyre products and
                        services. If you have questions about these Terms of Use please contact us via
                        engage@tyreless.co.za or the contact us form on our site.
                    </p>
                    <p class="font-weight-bold">Accessing our site</p>
                    <p>
                        Access to our site is permitted on a temporary basis, and we reserve the right
                        to withdraw or amend the service that we provide on our site without notice
                        (see below). We will not be liable if for any reason our site is unavailable at any
                        time or for any period.
                        <br><br>
                        You are responsible for making all arrangements necessary for you to have
                        access to our site. You are also responsible for ensuring that all persons who
                        access our site through your internet connection are aware of these terms, and
                        that they comply with them.
                    </p>
                    <p class="font-weight-bold">Searching for Tyre Deals on our site</p>
                    <p>
                        If you make use of the service i.e. search for tyre deals using our site and
                        request a call back in connection with a tyre deal through our site, that request
                        is sent to the respective partner/s offering the selected deal/s, named on the
                        respective deal. Our site only act as a user interface. Accordingly we have no
                        responsibility for the call back or the deal because we have no involvement in;
                        creating the description of the deal, in defining the specification, price and
                        fees, and in providing the deal that you request a call back on and the running
                        of the call back operation of the partner. If you have any issues or disputes
                        around your call back and/or the deal, you agree to address and resolve these
                        with the respective partner.
                    </p>
                    <p class="font-weight-bold">Content submitted to Tyreless.co.za</p>
                    <p>
                        You acknowledge that you are responsible for the information, photographs,
                        graphics, messages, and other material that you email to Tyreless.co.za or
                        make available using the service, and that you have full responsibility for each
                        of your submissions, including its legality, reliability, appropriateness,
                        originality, and copyright. Tyreless.co.za does not claim ownership of content
                        (including photos and graphics) you submit.
                    </p>
                    <p class="font-weight-bold">Prohibited uses</p>
                    <p>
                        You may use our site only for lawful purposes. You may not use our site:
                    </p>
                    <ul>
                        <li>in any way that breaches any applicable law or regulation;</li>
                        <li>in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect;</li>
                        <li>for the purpose of harming or attempting to harm anyone in any way;</li>
                        <li>other than with our prior express written permission, for any commercial or trading purpose, or for any use other than private use;</li>
                        <li>to transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any form of similar solicitation (spam);</li>
                        <li>in contravention of any of these Terms of Use.</li>
                    </ul>
                    <p>
                        You acknowledge that Tyreless.co.za may or may not screen content,
                        submitted by partners but that Tyreless.co.za has the right (but not the
                        obligation) at its discretion to screen, or remove any content that is available
                        via the service. Without limiting the foregoing, Tyreless.co.za and its designees
                        shall have the right to remove any content that is objectionable or misleading.
                        You agree that you must evaluate, and bear all risks associated with, the
                        accuracy, correctness and completeness of any deal. In this regard, you
                        acknowledge that you may not hold Tyreless.co.za liable for deal information
                        submitted by its partners.
                    </p>
                    <p class="font-weight-bold">Intellectual property rights</p>
                    <p>
                        We are the owner or the licensee of all intellectual property rights in our site,
                        and in the material published on it. All such rights are expressly reserved.
                        <br><br>
                        You may print off one copy, and may download extracts, of any page(s) from
                        our site for your personal and private reference, and you may draw the
                        attention of others within your organisation to material posted on our site. In
                        so doing, our status (and that of any identified contributors) as the authors of
                        material on our site must always be expressly acknowledged by you.
                        <br><br>
                        You must not modify the paper or digital copies of any materials that you have
                        printed off or downloaded in any way, and you must not use any illustrations,
                        photographs, video or audio sequences or any graphics separately from any
                        accompanying text.
                        <br><br>
                        If you print off, copy or download any part of our site in breach of these terms
                        of use, your right to use our site will cease immediately and you must, at our
                        option, return or destroy any copies of the materials you have made.
                        <br><br>
                        The composite word-and-device &quot;Tyreless.co.za&quot; logo, and each element of it,
                        are trademarks owned and used by us.
                    </p>
                    <p class="font-weight-bold">Our site changes regularly</p>
                    <p>
                        We aim to update our site regularly, and may change the content at any time. If
                        the need arises, we may suspend access to our site, or close it indefinitely.
                        Whilst we endeavour to ensure that the all content, including deal information,
                        is up to date, any of the material on our site may be out of date at any given
                        time.
                    </p>
                    <p class="font-weight-bold">Our liability</p>
                    <p>
                        To the extent permitted by law, we, and third parties connected to us hereby
                        expressly exclude:
                    </p>
                    <ul>
                        <li>
                            all conditions, warranties and other terms which might otherwise be
                            implied by statute, common law or the law of equity, whether relating to
                            the accuracy of any material displayed on our site or to the accessibility
                            of our site or otherwise howsoever;
                        </li>
                        <li>
                            any liability for any direct, indirect or consequential loss or damage
                            incurred by any user in connection with our site or in connection with the
                            use, inability to use, or results of the use of our site, any websites linked
                            to it and any commentaries or other materials on it, including without
                            limitation any liability for:
                        </li>
                        <li>loss of income or revenue;</li>
                        <li>loss of business;</li>
                        <li>loss of profits or contracts;</li>
                        <li>loss of anticipated savings;</li>
                        <li>loss of data;</li>
                        <li>loss of goodwill;</li>
                        <li>wasted management or office time; and</li>
                        <li>
                            or any other loss or damage of any kind, however arising and whether
                            caused by tort (including negligence), breach of contract or otherwise,
                            even if foreseeable, provided that this condition shall not prevent claims
                            for loss of or damage to your tangible property or any other claims for
                            direct financial loss that are not excluded by any of the categories set
                            out above.
                        </li>
                        <li>
                            This does not affect our liability for death or personal injury arising from
                            our negligence, or our liability for fraudulent misrepresentation or
                            misrepresentation as to a fundamental matter, or any other liability
                            which cannot be excluded or limited under applicable law.
                        </li>
                    </ul>
                    <p class="font-weight-bold">Information about you and your visits to our site and apps</p>
                    <p>
                        We process information about you in accordance with our <a [routerLink]="['/privacyPolicy']">privacy policy</a>. By
                        using our site, you consent to such processing and you warrant that all data
                        provided by you is accurate.
                    </p>
                    <p class="font-weight-bold">Termination</p>
                    <p>
                        You agree that Tyreless.co.za may, at its sole discretion and without prior
                        notice, immediately terminate the service for an indefinite period. Cause for
                        such termination shall include, but not be limited to, (a) requests by law
                        enforcement or other government agencies, (b) material modification to the
                        service (or any part thereof), (c) unexpected technical or security issues or
                        problems, (d) extended periods of inactivity.
                    </p>
                    <p class="font-weight-bold">Indemnification</p>
                    <p>
                        You agree to defend, indemnify and hold Tyreless.co.za harmless from and
                        against any claims, causes of action, demands, recoveries, losses, damages,
                        fines, penalties, or other costs or expenses of any kind or nature including but
                        not limited to legal and accounting fees, brought by (i) you or on your behalf in
                        excess of the liability described above; or (ii) by third parties (iii) any third party
                        arising out of your use of the service or (iv) by third parties arising out of your
                        breach of these terms of use, or your violation of any law or the rights of a third
                        party.
                    </p>
                    <p class="font-weight-bold">Linking to our site</p>
                    <p>
                        You may link to our site, provided you do so in a way that is fair and legal and
                        does not damage our reputation or take advantage of it, but you must not
                        establish a link in such a way as to suggest any form of association, approval or
                        endorsement on our part where none exists.
                        <br><br>
                        You must not establish a link to the home page of our site from any website
                        that is not owned by you.
                        <br><br>
                        Our site must not be framed on any other site, nor may you create a link to any
                        part of our site other than the home page. We reserve the right to withdraw
                        linking permission without notice. The website from which you are linking must
                        comply in all respects with the standards set out in these Terms of Use.
                        <br><br>
                        If you wish to make any use of material on our site other than that set out
                        above, please address your request to <a href="mailto:engage@tyreless.co.za">engage@tyreless.co.za</a> or use the
                        contact us page and form at www.tyreless.co.za
                    </p>
                    <p class="font-weight-bold">Links from our site</p>
                    <p>
                        Where our site contain links to other sites and resources provided by third
                        parties, these links are provided for your information only. We have no control
                        over the contents of those sites or resources, and accept no responsibility for
                        them or for any loss or damage that may arise from your use of them.
                    </p>
                    <p class="font-weight-bold">Jurisdiction and applicable law</p>
                    <p>
                        The South African courts will have exclusive jurisdiction over any claim arising
                        from, or related to, a visit to our site and we retain the right to bring
                        proceedings against you for breach of these Terms of Use.
                        <br><br>
                        These Terms of Use and any dispute or claim arising out of or in connection
                        with them or their subject matter or formation (including non-contractual
                        disputes or claims) shall be governed by and construed in accordance with the
                        law of the South Africa.
                    </p>
                    <p class="font-weight-bold">Variations</p>
                    <p>
                        We may revise these Terms of Use at any time by amending this page. You are
                        expected to check this page from time to time to take notice of any changes
                        we made, as they are binding on you. Some of the provisions contained in
                        these Terms of Use may also be superseded by provisions or notices published
                        elsewhere on our site.
                    </p>
                    <p class="font-weight-bold">Your concerns</p>
                    <p>
                        If you have any concerns about material which appears on our site, please
                        contact us via <a href="mailto:engage@tyreless.co.za">engage@tyreless.co.za</a> or use the contact us page and form on
                        our site <a [routerLink]="['/']">www.tyreless.co.za</a>
                    </p>
                </div>
            </div>
        </div>
    </div>