<div class="outer-outlet">
  <router-outlet></router-outlet>
</div>
<!-- <footer class="site-footer">
  <div class="container">
    <div class="row text-left hide-from-mobile">
        <h6 class="p-3">Facile Technologies Pty Ltd © {{year}}</h6>
        <a [routerLink]="['/termsOfUse']" class="p-3">Terms of Use</a>
        <a [routerLink]="['/privacyPolicy']" class="p-3">Privacy Policy</a>
    </div>
    <div class="show-on-mobile text-center m-4">
      <div class="row m-1 font-weight-bold">
        <div class="col-6 text-left">
          <a [routerLink]="['/termsOfUse']">Terms of Use</a>
        </div>
        <div class="col-6 text-right">
          <a [routerLink]="['/privacyPolicy']">Privacy Policy</a>
        </div>
      </div>
      <div class="row m-1">
        <div class="col-12">
            Facile Technologies Pty Ltd © {{year}}
        </div>
      </div>
    </div>
  </div>
</footer> -->