<div class="outer-outlet">
  <router-outlet></router-outlet>
</div>
<footer class="site-footer">
    <div class="container">
      <div class="row text-left">
        <div class="col-sm-6 custom">
          <h6>Facile Technologies Pty Ltd © 2018</h6>
        </div>
        <div class="col-sm-6 social-icons" *ngIf="router.url != '/contactUs'">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fa fa-google-plus"></i>
          </a>
          <a href="#">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>