<nav id="mainNavbar" class="navbar navbar-light navbar-fixed-top navbar-expand-lg custom fixed-top">
    <a class="navbar-brand" [routerLink]="['/']">
        <span class="nav-logo-left">TyreLess</span>
        <span class="nav-logo-right">.co.za</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" class="nav-right">
        <a class="navbar-brand ml-auto" [routerLink]="['/contactUs']">
            <span class="nav-right-text text-success">CONTACT US</span>
        </a>
    </div>
</nav>

<div class="jumbotron custom header-section">
    <div class="container">
        <div class="row">
            <div class="get-it w-100">
                <h2 class="text-center">
                    <b>How It Works</b>
                </h2>
                <h4 class="text-center">Searching for the best tyre deals has never been easier</h4>
            </div>
        </div>
    </div>
</div>

<div class="container hide-from-mobile" id="howItWorks">
    <div class="row text-center">
        <div class="col-4">
            <img src="../../assets/1_Search.png" class="search-select-save" />
        </div>
        <div class="col-4">
            <img src="../../assets/2_Select.png" class="search-select-save" />
        </div>
        <div class="col-4">
            <img src="../../assets/3_Save.png" class="search-select-save" />
        </div>
    </div>
    <div class="card-deck">
        <div class="card card-transparent">
            <div class="card-body">
                <h5 class="custom">Enter Tyre Requirements &amp; Search</h5>
                Enter the following information and search:
                <br>
                <ul class="text-left">
                    <li>Vehicle type</li>
                    <li>Tyre size</li>
                    <li>Quantity required</li>
                    <li>Tyre brand/s</li>
                    <li>Location/s</li>
                    <li>Select wheel balancing (if required)</li>
                    <li>Select wheel alignment (if required)</li>
                </ul>
            </div>
        </div>
        <div class="card card-transparent">
            <div class="card-body">
                <h5 class="custom">View and Select Deals</h5>
                <ul class="text-left">
                    <li>View the resultant tyre deals</li>
                    <li>Refine the search results using the following filters:</li>
                    <ul>
                        <li>Price</li>
                        <li>Tyre type</li>
                        <li>Retailer</li>
                        <li>Tyre model</li>
                    </ul>
                    <li>View details of each tyre deal</li>
                    <li>Select your preferred tyre deal/s</li>
                </ul>
            </div>
        </div>
        <div class="card card-transparent">
            <div class="card-body">
                <h5 class="custom">Enter Details and Receive Callback</h5>
                <ul class="text-left">
                    <li>Enter your preferred contact details</li>
                    <li>Receive callback from selected retailers</li>
                    <li>Arrange for fitment at your convenience</li>
                </ul>
            </div>
        </div>
    </div>
    <br>
</div>

<div class="show-on-mobile text-center">
    <div class="row">
        <div class="col-2">
            <img src="../../assets/1_Search.png" class="search-select-save-sm" />
        </div>
        <div class="col-10"><br>Enter Your Tyre Requirements &amp; Search our platform</div>
    </div>
    <div class="row">
        <div class="col-2">
            <img src="../../assets/2_Select.png" class="search-select-save-sm" />
        </div>
        <div class="col-10"><br>View Tyre Deals from Retailers and Select your preferred Deal</div>
    </div>
    <div class="row">
        <div class="col-2">
            <img src="../../assets/3_Save.png" class="search-select-save-sm" />
        </div>
        <div class="col-10"><br>Enter Your Contact Details and request a Call Back from the Retailer</div>
    </div>
</div>