<div class="hide-from-mobile" id="howItWorksSection">
    <div class="jumbotron custom header-section">
        <div class="container">
            <div class="row">
                <div class="get-it w-100">
                    <h2 class="text-center font-weight-bold">How It Works</h2>
                    <h4 class="text-center">Searching for the best tyre deals has never been easier</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row text-center">
                    <div class="col-4">
                        <img src="../../assets/1_Search.png" class="search-select-save" />
                    </div>
                    <div class="col-4">
                        <img src="../../assets/2_Select.png" class="search-select-save" />
                    </div>
                    <div class="col-4">
                        <img src="../../assets/3_Save.png" class="search-select-save" />
                    </div>
                </div>
                <div class="card-deck">
                    <div class="card fancy-card card-transparent">
                        <div class="card-body p-2">
                            <h5 class="custom text-center">Enter Tyre Requirements and Search</h5>
                            Enter the following information and search:
                            <br>
                            <ul class="text-left m-0">
                                <li>Vehicle type</li>
                                <li>Tyre size</li>
                                <li>Quantity required</li>
                                <li>Tyre brand/s</li>
                                <li>Location/s</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card fancy-card card-transparent">
                        <div class="card-body p-2">
                            <h5 class="custom text-center m-0">View and Select</h5>
                            <h5 class="custom text-center">Deals</h5>
                            <ul class="text-left">
                                <li>View the resultant tyre deals</li>
                                <li>Refine the search results using the following filters:</li>
                                <ul>
                                    <li>Price</li>
                                    <li>Tyre type</li>
                                    <li>Retailer</li>
                                    <li>Tyre model</li>
                                </ul>
                                <li>View details of each tyre deal</li>
                                <li>Select your preferred tyre deal/s</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card fancy-card card-transparent">
                        <div class="card-body p-2">
                            <h5 class="custom text-center">Enter Details and Receive Callback</h5>
                            <ul class="text-left">
                                <li>Enter your preferred contact details</li>
                                <li>Receive callback from selected retailers</li>
                                <li>Arrange for fitment at your convenience</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
    </div>
</div>

<div class="show-on-mobile text-left plr-3">
        <br>
        <div class="container">
            <div class="get-it w-100">
                <h4 class="text-center font-weight-bold">How It Works</h4>
            </div>
        </div>
        <br>
    <div class="row m-0">
        <div class="col-12 p-0 plr-5">
            <img src="../../assets/1_Search.png" class="search-select-save-sm float-left" />
            <span class="font-weight-bold">Enter Tyre Requirements and Search</span>
            <br>Enter your tyre requirements &amp; search our platform
        </div>
    </div>
    <br>
    <div class="row m-0">
        <div class="col-12 p-0 plr-5">
            <img src="../../assets/2_Select.png" class="search-select-save-sm float-left" />
            <span class="font-weight-bold">View and Select Deals</span>
            <br>View and select deals from retailers
        </div>
    </div>
    <br>
    <div class="row m-0">
        <div class="col-12 p-0 plr-5">
            <img src="../../assets/3_Save.png" class="search-select-save-sm float-left" />
            <span class="font-weight-bold">Enter Details and Receive Callback</span>
            <br>Enter your contact details and request a callback from the selected retailers
        </div>
    </div>
</div>