<div class="hide-from-mobile" id="howItWorksSection">
    <div class="jumbotron custom header-section">
        <div class="container">
            <div class="row">
                <div class="get-it w-100">
                    <h2 class="text-center font-weight-bold">How It Works</h2>
                    <h4 class="text-center">Finding the best tyre deals has never been easier</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row text-center">
                    <div class="col-4">
                        <img src="../../assets/1_Search.png" class="search-select-save" />
                    </div>
                    <div class="col-4">
                        <img src="../../assets/2_Select.png" class="search-select-save" />
                    </div>
                    <div class="col-4">
                        <img src="../../assets/3_Save.png" class="search-select-save" />
                    </div>
                </div>
                <div class="card-deck">
                    <div class="card fancy-card card-transparent">
                        <div class="card-body p-2">
                            <br>
                            <h5 class="custom text-center">Search</h5>
                            Search tyre deals, on trusted Brands from trusted Partners, on our platform
                        </div>
                    </div>
                    <div class="card fancy-card card-transparent">
                        <div class="card-body p-2">
                            <br>
                            <h5 class="custom text-center m-0">Select</h5>
                            Compare, filter and select the best tyre deal for you
                        </div>
                    </div>
                    <div class="card fancy-card card-transparent">
                        <div class="card-body p-2">
                            <br>
                            <h5 class="custom text-center">Save</h5>
                            Enter your contact details and save
                        </div>
                    </div>
                </div>
                <br>
    </div>
</div>

<div class="show-on-mobile text-left plr-3 ipadder">
        <br>
        <br>
        <div class="container">
            <div class="get-it w-100">
                <h4 class="text-center font-weight-bold">How It Works</h4>
            </div>
        </div>
        <br>
        <table>
            <tr>
                <td><img src="../../assets/1_Search.png" class="search-select-save-sm float-left" /></td>
                <td><span class="font-weight-bold">Search</span>
                    <br>Search tyre deals, on trusted Brands from trusted Partners, on our platform</td>
            </tr>
            <tr>
                <td>
                    <img src="../../assets/2_Select.png" class="search-select-save-sm float-left" />
                </td>
                <td>
                    <span class="font-weight-bold">Select</span>
                    <br>Compare, filter and select the best tyre deal for you
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../assets/3_Save.png" class="search-select-save-sm float-left" />
                </td>
                <td>
                    <span class="font-weight-bold">Save</span>
                    <br>Enter your contact details and save
                </td>
            </tr>
        </table>
</div>