<nav id="mainNavbar" class="navbar navbar-light navbar-fixed-top navbar-expand-lg custom fixed-top">
    <a class="navbar-brand" [routerLink]="['/']">
        <span class="nav-logo-left">TyreLess</span><span class="nav-logo-right">.co.za</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" class="nav-right">
            <a class="navbar-brand ml-auto" [routerLink]="['/contactUs']">
                <span class="nav-right-text text-success">CONTACT US</span>
            </a>
    </div>
</nav>

<div class="jumbotron custom header-section">
  <div class="container">
    <div class="row">
      <div class="get-it w-100">
        <h2 class="text-center"><b>Our Offering</b></h2>
        <h4 class="text-center">We can help you save time and money on your next tyre purchase</h4>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="card-deck page-card-deck">
        <div class="card">
            <div class="card-body">
                <br>
                <h4 class="custom">"Search - Select - Save"</h4>
                <br>
                <div>
                    Best described with these three words, our innovative platform
                    and curated deals allows you to effortlessly search, compare and
                    select tyre deals anywhere in South Africa.<br><br>
                    We have partnered with a number of tyre retailers and fitment
                    centers countrywide to bring you the best tyre deals on various
                    tyre brands. Use the filter options and personalize your search to
                    hone in on your unique needs.<br><br>
                    What you get is an efficient means to source your tyres and save
                    on your next purchase.<br>
                </div>
            </div>
          </div>
          <div class="card" id="ourOfferingImg">
              <div class="card-body">
              </div>
            </div>
    </div>  
</div>