<div class="jumbotron custom header-section">
    <div class="container-increased">
        <div class="row">
            <div class="get-it w-100">
                <h2 class="text-center">
                    <b>Our Offering</b>
                </h2>
                <h4 class="text-center">We can help you save time and money on your next tyre purchase</h4>
            </div>
        </div>
    </div>
</div>
<div class="container-increased">
    <div class="row">
        <div class="col-6 p-1">
            <div class="card h-100" style="border-radius:0" id="searchSelectSave">
                <div class="card-body text-center" style="border-radius:0">
                    <br>
                    <br>
                    <h4 class="custom">" Search - Select - Save "</h4>
                    <br> Best described with these three words, our innovative platform and curated deals allows you to effortlessly
                    search, compare and select tyre deals anywhere in South Africa.
                    <br>
                    <br> We have partnered with a number of tyre retailers and fitment centers countrywide to bring you the best
                    tyre deals on various tyre brands. Use the filter options and personalize your search to hone in on your
                    unique needs.
                    <br>
                    <br> What you get is an efficient means to source your tyres and save on your next purchase.
                    <br>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6 p-1">
                    <img src="../../assets/Our Offering 2.png" class="w-100" style="height:200px" />
                </div>
                <div class="col-6 p-1">
                    <img src="../../assets/Our Offering 1.png" class="w-100" style="height:200px" />
                </div>
            </div>
            <div class="row">
                <div class="col-6 p-1">
                    <img src="../../assets/Our Offering 3.png" class="w-100" style="height:200px" />
                </div>
                <div class="col-6 p-1">
                    <img src="../../assets/Our Offering 4.png" class="w-100" style="height:200px" />
                </div>
            </div>
        </div>
    </div>
</div>