/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "BryantMediumRegular";
    src:    url("/assets/BryantMediumRegular.otf") format("opentype"),
            url("/assets/BryantMediumRegular.ttf") format("truetype")
}


/*
  Dropdown
*/

.dd-t-custom{
  color:black;
  background-color: white;
  min-height: 40pt;
  margin:5pt;
}

.dd-col{
  height: 35pt;
  padding:0;
}
.dd-left{
  padding:5pt;
  font-size:10pt;
  vertical-align: middle;
}
.dd-right{
  line-height:35pt;
  font-size:20pt;
  vertical-align: middle;
}
.dd-caret{
  padding-right:5pt;
  text-align: center;
  line-height: 35pt;
  color:rgb(107,172,70);
}
.dd-t-custom::after{
  /* border-top: .5em solid rgb(107,172,70);
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent;
    margin-left: .155em;
    vertical-align: .055em; */
    display:none;
}

.custom{
    font-weight: 600;
    font-family: "BryantMediumRegular", sans-serif !important;
}
.circle-links{
    margin-top:50pt;
}
.round-btn{
    font-weight: bold;
    border:none;
    display:block;
    height: 100px;
    width: 110px;
    border-radius:50%;
    box-shadow:3px 3px 4px rgba(0,0,0,0.3);
    background-color: white;
    color:rgb(107,172,70);
  }

  .round-btn:hover{
      background-color: rgb(107,172,70);
      color:white;
  }

.navbar{
    margin-bottom:0;
    border:none;
  }

h1{
    font-weight: 800;
    font-size:56pt;
}

html{
    background-color: rgb(247,247,247);
}

.jumbotron{
    margin-bottom: 0 !important;
}
  
  .navbar-brand .glyphicon{
    margin-right:6px;
  }
  
  .txt-green{
      font-size:42pt;
      color:rgb(107,172,70);
  }

  .btn-success {
    color: #fff;
    background-color:rgb(107,172,70);
    border-color: rgb(107,172,70);
}

.btn-success:hover {
    color: #fff;
    background-color:rgb(81, 153, 40);
    border-color: rgb(81, 153, 40);
}


  .hero{
    display: block;
    position: relative;
    background-size: cover;
    border:none;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%), url('/assets/checkered-flag.jpg') repeat 0 0, url('/assets/checkered-flag.jpg') repeat 0 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 100%), url('/assets/checkered-flag.jpg') repeat 0 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.9)), color-stop(100%,rgba(255,255,255,0.9))), url('/assets/checkered-flag.jpg') repeat 0 0;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%), url('/assets/checkered-flag.jpg') repeat 0 0;
    background: -o-linear-gradient(top, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%), url('/assets/checkered-flag.jpg') repeat 0 0;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%), url('/assets/checkered-flag.jpg') repeat 0 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%), url('/assets/checkered-flag.jpg') repeat 0 0;
  }

  @media (min-width:992px) {
    .hero .get-it{
      text-align:right;
      width: 100%;
      margin-top:50px;
    }
  }
  
  @media (max-width:992px) {
    .hero .get-it{
        width: 100%;
      text-align:center;
    }
  }
  
  @media (max-width:992px) {
    .hero .phone-preview{
      text-align:center;
    }
  }
  
  .hero .get-it h1, .hero .get-it p{
    text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  }
  
  .hero .get-it .btn{
    text-shadow:none;
  }
    
  .icon-feature{
    text-align:center;
  }
  
  .icon-feature .glyphicon{
    font-size:60px;
  }
  
  section.features{
    background-color:#369;
    padding:40px 0;
    color:#fff;
  }
  
  .features h2{
    color:#fff;
  }

  .link>span:hover, .linkSelected{
      border-bottom: 1.5pt solid;
      cursor:pointer;
  }

  .link>span{
    padding:5pt;
}

.link>span>i{
    margin-right:3pt;
}

  .features .icon-features{
    margin-top:15px;
  }
  
  .information blockquote{
    text-align:center;
  }

  section.information{
    padding:15pt;
    line-height: 15pt;
    background-color: darkgray;
    color:white;
  }
  section.information>p{
    margin:0;
    text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  }
  
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
  
  .brand-img{
    max-height: 60pt;
    max-width: 60pt;
  }
  
  .site-footer{
    background-color: rgb(247,247,247);
    padding:20px 0;
    text-align:center;
  }
  
  @media (min-width:768px) {
    .site-footer h5{
      text-align:left;
    }
  }
  
  .site-footer h5{
    color:inherit;
    font-size:20px;
  }
  
  .site-footer .social-icons a:hover{
    opacity:1;
  }
  
  .site-footer .social-icons a{
    display:inline-block;
    width:32px;
    border:none;
    font-size:20px;
    border-radius:50%;
    margin:4px;
    color:#fff;
    text-align:center;
    background-color:rgb(107,172,70);
    height:32px;
    opacity:0.8;
    line-height:32px;
  }
  
  @media (min-width:768px) {
    .site-footer .social-icons{
      text-align:right;
    }
  } 