<nav id="mainNavbar" class="navbar navbar-light navbar-fixed-top navbar-expand-lg custom fixed-top">
    <a class="navbar-brand" [routerLink]="['/']">
        <span class="nav-logo-left">TyreLess</span>
        <span class="nav-logo-right">.co.za</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" class="nav-right">
        <a class="navbar-brand ml-auto" [routerLink]="['/contactUs']">
            <span class="nav-right-text text-success">CONTACT US</span>
        </a>
    </div>
</nav>
<br>
<br>
<br>
<div class="custom header-section">
    <div class="container">
        <div class="row" style="max-height:80px">
            <div class="col-2 dd-col">
                <div class="btn-group w-100">
                    <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom m-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="dd-left p-0">
                            Vehicle Type
                        </div>
                        <img src="../..{{data.selectedSrc}}" class="vehicle-icon" />
                        <span class="dd-col dd-search-text">{{ data.selected }}</span>
                        <i class="dd-caret fa fa-angle-down"></i>
                    </button>
                    <div class="w-100 dropdown-menu">
                        <button class="dropdown-item" type="button" *ngFor="let vehicle of properties.vehicleTypes" (click)="update('selectedSrc', vehicle.imageSrc); update('selected', vehicle.name)">
                            <img src="../..{{vehicle.imageSrc}}" class="vehicle-icon" /> {{ vehicle.name }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-1 dd-col">
                <div class="btn-group w-100">
                    <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom m-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="dd-left p-0">
                            Tyre Width
                        </div>
                        <span class="dd-col dd-search-text">{{ data.width }}</span>
                        <i class="dd-caret fa fa-angle-down"></i>
                    </button>
                    <div class="w-100 dropdown-menu">
                        <button class="dropdown-item" type="button" *ngFor="let width of properties.tyreWidths" (click)="update('width', width)">
                            {{ width }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-1 dd-col">
                <div class="btn-group w-100">
                    <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom m-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="dd-left p-0">
                            Tyre Profile
                        </div>
                        <span class="dd-col dd-search-text">{{ data.profile }}</span>
                        <i class="dd-caret fa fa-angle-down"></i>
                    </button>
                    <div class="w-100 dropdown-menu">
                        <button class="dropdown-item" type="button" *ngFor="let profile of properties.tyreProfiles" (click)="update('profile', profile)">
                            {{ profile }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-1 dd-col">
                <div class="btn-group w-100">
                    <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom m-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="dd-left p-0">
                            Wheel Size
                        </div>
                        <span class="dd-col dd-search-text">{{ data.size }}</span>
                        <i class="dd-caret fa fa-angle-down"></i>
                    </button>
                    <div class="w-100 dropdown-menu">
                        <button class="dropdown-item" type="button" *ngFor="let size of properties.wheelSizes" (click)="update('size', size)">
                            {{ size }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-1 dd-col">
                <div class="btn-group w-100">
                    <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom m-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="dd-left p-0">
                            Quantity
                        </div>
                        <span class="dd-col dd-search-text">{{ data.quantity }}</span>
                        <i class="dd-caret fa fa-angle-down"></i>
                    </button>
                    <div class="w-100 dropdown-menu">
                        <button class="dropdown-item" type="button" *ngFor="let quantity of properties.quantities" (click)="update('quantity', quantity)">
                            {{ quantity }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-2 dd-col">
                    <ss-multiselect-dropdown [options]="properties.brands" [texts]="brandTexts" [settings]="dropdownSettings"
                    [(ngModel)]="data.brand"></ss-multiselect-dropdown>
            </div>
            <div class="col-2 dd-col">
                <div class="btn-group w-100">
                    <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom m-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="dd-left p-0">
                            Location
                        </div>
                        <span class="dd-col dd-search-text">{{ data.location }}</span>
                        <i class="dd-caret fa fa-angle-down"></i>
                    </button>
                    <div class="w-100 dropdown-menu">
                        <button class="dropdown-item" type="button" *ngFor="let location of properties.locations" (click)="update('location', location)">
                            {{ location }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-2 dd-col">
                <button class="btn btn-success w-100 h-100 p-3" type="button" [routerLink]="['/search']" [queryParams]="{ selected: data.selected, width: data.width, profile: data.profile, size: data.size, quantity: data.quantity, brand: data.brand, location: data.location, wheelAlignmentChecked: data.wheelAlignmentChecked, wheelBalancingChecked: data.wheelBalancingChecked, selectedFilter: data.selectedFilter }">MODIFY SEARCH</button>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-3"></div>
            <div class="col-3 extras-col rounded">
                <div class="checkbox checkbox-success float-left">
                    <input id="wheelAlignmentSearch" type="checkbox" [checked]="data.wheelAlignmentChecked" (change)="data.wheelAlignmentChecked = !data.wheelAlignmentChecked">
                    <label for="wheelAlignmentSearch">
                        Wheel Alignment
                    </label>
                </div>
            </div>
            <div class="col-3 extras-col rounded">
                <div class="checkbox checkbox-success float-left">
                    <input id="wheelBalancingSearch" type="checkbox" [checked]="data.wheelBalancingChecked" (change)="data.wheelBalancingChecked = !data.wheelBalancingChecked">
                    <label for="wheelBalancingSearch">
                        Wheel Balancing
                    </label>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>
<br>
<div class="results-and-filters container custom">
    <div class="row" *ngIf="!properties.results || properties.results.length == 0">
        <div class="col-12">
            <div [hidden]="properties.loading" class="text-center">
                <br>
                <br>
                <img src="../../assets/no_results.png" class="search-icon" />
                <br>
                <br>
                <h5>No Results Found</h5>
                <h6>Please refine your search</h6>
            </div>
            <div [hidden]="!properties.loading" class="text-center">
                <br>
                <br>
                <img src="../../assets/loading.gif" class="search-icon" />
                <br>
                <br>
                <h5>Searching</h5>
                <h6>Please wait...</h6>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="properties.results && properties.results.length > 0">
        <div class="col-4">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6 text-right">
                    <a href="javascript:void(0)" (click)="resetFilters()">Reset Filter</a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6 text-right">
                    Sort results by:
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{data.selectedFilter}}
                        </button>
                        <div class="dropdown-menu">
                            <span (click)="sort(filterName) " *ngFor="let filterName of properties.filters" class="dropdown-item">{{filterName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="properties.results && properties.results.length > 0">
        <div class="col-4">
            <div class="row filter-row" *ngIf="properties.filteredResults && properties.filteredResults.length > 0">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            Price
                        </div>
                        <div class="card-body filter-body p-3" id="priceSlider">
                            <mat-slider [min]="properties.priceFilter.min" [max]="properties.priceFilter.max" (change)="applyFilters(true, false)" [(ngModel)]="properties.priceFilter.current"></mat-slider>
                            <div class="row">
                                <div class="col-4 text-left"></div>
                                <div class="col-8 text-right">
                                    <b>Max price:</b> {{properties.priceFilter.current | currency:'R'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row filter-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            Type
                        </div>
                        <div class="card-body results-table filter-body">
                            <div class="w-50 radio radio-success float-left">
                                <input id="typeRegular" type="radio" [checked]="data.tyreType == 'regular'" (click)="update('tyreType', 'regular'); applyFilters(true, true)">
                                <label for="typeRegular">
                                    Regular
                                </label>
                            </div>
                            <div class="w-50 radio radio-success float-left">
                                <input id="typeRunFlat" type="radio" [checked]="data.tyreType =='runFlat'" (click)="update('tyreType', 'runFlat'); applyFilters(true, true)">
                                <label for="typeRunFlat">
                                    Run Flat
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row filter-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            Retailer
                        </div>
                        <div class="card-body results-table filter-body">
                            <div class="w-50 float-left" *ngFor="let retailer of properties.retailers; let i = index">
                                <div class="checkbox checkbox-success float-left">
                                    <input id="retailer{{retailer.id}}" type="checkbox" [checked]="retailer.checked" (change)="toggleRetailer(retailer)">
                                    <label for="retailer{{retailer.id}}">
                                        {{retailer.name}}
                                    </label>
                                </div>
                            </div>
                            <div class="text-center" *ngIf="properties.retailers.length == 0">
                                No Results
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row filter-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            Model
                        </div>
                        <div class="card-body filter-body">
                            Models here
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card m-1" *ngFor="let result of properties.filteredResults">
                <div class="card-body results-table p-3">
                    <div class="row">
                        <div class="col-10">
                            <div class="row">
                                <div class="col-3 border-right">
                                    <img class="w-100" ngbTooltip="{{result.partner}}" src="../../assets/{{result.partner}}.jpg" />
                                    <br>
                                    <br> {{result.location.suburb}}, {{result.location.province}}
                                </div>
                                <div class="col-6 border-right">
                                    <div class="row">
                                        <div class="col-4 results-col text-center">
                                            <img *ngIf="!result.runFlat" class="result-tyre" src="../../assets/Tyres/{{result.brand}}_{{result.tyreModel}}_{{result.tyreWidth}}_{{result.tyreProfile}}_R{{result.wheelSize}}.jpg"
                                            />
                                            <img *ngIf="result.runFlat" class="result-tyre" src="../../assets/Tyres/{{result.brand}}_{{result.tyreModel}}_{{result.tyreWidth}}_{{result.tyreProfile}}_R{{result.wheelSize}}_Runflat.jpg"
                                            />
                                        </div>
                                        <div class="col-7 results-text results-col">
                                            {{result.brand}}
                                            <br> {{result.tyreModel}}
                                            <div class="row">
                                                <div class="col-6">
                                                    <span *ngIf="result.runFlat">Run Flat</span>
                                                </div>
                                                <div class="col-6 results-col">
                                                    <br>
                                                    <img class="result-logo w-100" ngbTooltip="{{result.brand}}" src="../../assets/Tyre Manufacturer/{{result.brand}}.png" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 text-center border-right">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="strong included-text rounded">Included</div>
                                        </div>
                                    </div>
                                    <div class="row" *ngFor="let service of result.partnerDetails.services">
                                        <div class="col-12 results-col" *ngIf="service.show">
                                            {{service.name}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-2 results-col text-center">
                            <a href="javascript:void(0)" ngbTooltip="View Breakdown" (click)="viewBreakdown(result)">
                                <i class="fa fa-info-circle"></i> View Detail
                            </a>
                            <div class="text-center p-2">
                                <div class="checkbox checkbox-success select-box rounded">
                                    <input id="select_{{result.brand}}" type="checkbox" [checked]="result.contactMe" (change)="checkSelect(result)">
                                    <label for="select_{{result.brand}}">
                                        SELECT
                                    </label>
                                </div>
                            </div>
                            <h6>
                                <b>{{result.totalPrice | currency:'R'}}</b>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card m-1 text-center" *ngIf="properties.results && properties.results.length > 0 && properties.filteredResults.length == 0 ">
                <div class="card-body">
                    <br>
                    <img src="../../assets/no_results.png" class="search-icon" />
                    <br>
                    <br>
                    <h5>No Results Found</h5>
                    <h6>Please refine your search</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer sticky-footer" [hidden]="!properties.showContactMe">
    <div class="container">
        <button class="btn btn-success h-100" id="contactMeBtn" type="button" ngbTooltip="A sales representative from the vendor(s) will be in touch to follow up with you on this deal">CONTACT ME ></button>
    </div>
</footer>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title custom">Cost Breakdown</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body custom-lite">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of properties.details.breakdown" [ngClass]="{strong : row.line1 == 'Total'}">
                    <td>{{row.line1}}
                        <br>{{row.line2}}</td>
                    <td>{{row.quantity}}</td>
                    <td>{{row.totalCost | currency:'R'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>