<nav id="mainNavbar" class="navbar navbar-light navbar-fixed-top navbar-expand-lg custom fixed-top">
    <a class="navbar-brand" [routerLink]="['/']">
        <span class="nav-logo-left">TyreLess</span><span class="nav-logo-right">.co.za</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" class="nav-right">
        <a class="navbar-brand ml-auto" [routerLink]="['/home']" [queryParams]="{ contactUs: true }">
            <h6><span class="nav-right-text font-weight-bold">CONTACT US</span></h6>
        </a>
    </div>
</nav>
<div class="hide-from-mobile">
        <div class="custom header-section-40">
                <br>
                <br>
                <div class="container-increased">
                    <div class="row" style="max-height:80px">
                        <div class="col-2 dd-col">
                            <div class="btn-group w-100 h-100">
                                <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom m-0 p-0 h-100" type="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <div class="dd-left p-0">
                                        Vehicle Type
                                    </div>
                                    <img src="../..{{data.selectedSrc}}" class="vehicle-icon-sm" />
                                    <span class="dd-col dd-search-text">{{ data.selected }}</span>
                                    <i class="dd-caret fa fa-angle-down"></i>
                                </button>
                                <div class="w-100 dropdown-menu">
                                    <button class="dropdown-item" type="button" *ngFor="let vehicle of properties.vehicleTypes" (click)="update('selectedSrc', vehicle.imageSrc); update('selected', vehicle.name)">
                                        <img src="../..{{vehicle.imageSrc}}" class="vehicle-icon-sm" /> {{ vehicle.name }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 dd-col">
                            <div class="btn-group w-100 h-100">
                                <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom m-0 p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <div class="dd-left p-0">
                                        Tyre Width
                                    </div>
                                    <span class="dd-col dd-search-text">{{ data.width }}</span>
                                    <i class="dd-caret fa fa-angle-down"></i>
                                </button>
                                <div class="w-100 dropdown-menu">
                                    <button class="dropdown-item" type="button" *ngFor="let width of properties.tyreWidths" (click)="update('width', width)">
                                        {{ width }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 dd-col">
                            <div class="btn-group w-100 h-100">
                                <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom m-0 p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <div class="dd-left p-0">
                                        Tyre Profile
                                    </div>
                                    <span class="dd-col dd-search-text">{{ data.profile }}</span>
                                    <i class="dd-caret fa fa-angle-down"></i>
                                </button>
                                <div class="w-100 dropdown-menu">
                                    <button class="dropdown-item" type="button" *ngFor="let profile of properties.tyreProfiles" (click)="update('profile', profile)">
                                        {{ profile }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 dd-col">
                            <div class="btn-group w-100 h-100">
                                <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom m-0 p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <div class="dd-left p-0">
                                        Wheel Size
                                    </div>
                                    <span class="dd-col dd-search-text">{{ data.size }}</span>
                                    <i class="dd-caret fa fa-angle-down"></i>
                                </button>
                                <div class="w-100 dropdown-menu">
                                    <button class="dropdown-item" type="button" *ngFor="let size of properties.wheelSizes" (click)="update('size', size)">
                                        {{ size }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 dd-col">
                            <div class="btn-group w-100 h-100">
                                <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom m-0 p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <div class="dd-left p-0">
                                        Quantity
                                    </div>
                                    <span class="dd-col dd-search-text">{{ data.quantity }}</span>
                                    <i class="dd-caret fa fa-angle-down"></i>
                                </button>
                                <div class="w-100 dropdown-menu">
                                    <button class="dropdown-item" type="button" *ngFor="let quantity of properties.quantities" (click)="update('quantity', quantity)">
                                        {{ quantity }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 dd-col">
                            <ss-multiselect-dropdown [options]="properties.brands" [texts]="brandTexts" [settings]="dropdownSettings" [(ngModel)]="data.brand" (ngModelChange)="changeDropdown($event)"></ss-multiselect-dropdown>
                        </div>
                        <div class="col-2 dd-col">
                            <div class="btn-group w-100 h-100">
                                <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom m-0 p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" (click)="openLocationModal()">
                                    <div class="dd-left p-0">
                                        Location
                                    </div>
                                    <span class="dd-col dd-search-text">{{ data.location.name }}</span>
                                    <i class="dd-caret fa fa-angle-down"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-2 dd-col">
                            <button class="btn btn-success shadow-btn w-100 h-100 p-0" type="button" [routerLink]="['/search']" [queryParams]="{ selected: data.selected, width: data.width, profile: data.profile, size: data.size, quantity: data.quantity, brand: data.brand, location: data.location.highLevel, subLocations: data.location.lowLevel, wheelAlignmentChecked: data.wheelAlignmentChecked, wheelBalancingChecked: data.wheelBalancingChecked, selectedFilter: data.selectedFilter }"
                            [disabled]="data.width == '---' || data.profile == '--' || data.size == '--' || !data.brand || data.brand.length==0 || data.location.name == '-' || data.location.name == 'Unselected'">Modify Search</button>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-3"></div>
                        <div class="col-3 extras-col rounded">
                            <div class="checkbox checkbox-success float-left">
                                <input id="wheelAlignmentSearch" type="checkbox" [checked]="data.wheelAlignmentChecked" (change)="data.wheelAlignmentChecked = !data.wheelAlignmentChecked">
                                <label for="wheelAlignmentSearch">
                                    Wheel Alignment
                                </label>
                            </div>
                        </div>
                        <div class="col-3 extras-col rounded">
                            <div class="checkbox checkbox-success float-left">
                                <input id="wheelBalancingSearch" type="checkbox" [checked]="data.wheelBalancingChecked" (change)="data.wheelBalancingChecked = !data.wheelBalancingChecked">
                                <label for="wheelBalancingSearch">
                                    Wheel Balancing
                                </label>
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </div>
            <div class="results-and-filters container-increased custom">
                <div class="row" *ngIf="!properties.results || properties.results.length == 0">
                    <div class="col-12">
                        <div [hidden]="properties.loading" class="text-center">
                            <br>
                            <br>
                            <img src="../../assets/no_results.png" class="search-icon" />
                            <br>
                            <br>
                            <h5>No Results Found</h5>
                            <h6>Please refine your search</h6>
                        </div>
                        <div [hidden]="!properties.loading" class="text-center">
                            <br>
                            <br>
                            <img src="../../assets/loading.gif" class="search-icon" />
                            <br>
                            <br>
                            <h5>Searching</h5>
                            <h6>Please wait...</h6>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="properties.results && properties.results.length > 0">
                    <div class="col-3 p-1 text-10" style="position: relative">
                        <div style="position: absolute; bottom: 0; right:12pt">
                            <a href="javascript:void(0)" (click)="resetFilters()">Reset Filter</a>
                        </div>
                    </div>
                    <div class="col-9 p-1">
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-6 text-right text-10">
                                Sort results by:
                                <div class="btn-group" style="margin-top:3pt">
                                    <button type="button" style="font-size:0.8rem !important" class="btn btn-secondary dropdown-toggle p-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{data.selectedFilter}}
                                        <i class="fa fa-angle-down" style="color:rgb(107,172,70)"></i>
                                    </button>
                                    <div class="dropdown-menu" style="font-size:0.8rem !important">
                                        <span (click)="sort(filterName) " *ngFor="let filterName of properties.filters" class="dropdown-item">{{filterName}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="properties.results && properties.results.length > 0">
                    <div class="col-3 p-1">
                        <div class="row">
                            <div class="col-12">
                                <div class="card m-1 box-shadow">
                                    <div class="card-header p-0 text-10">
                                        Price
                                    </div>
                                    <div class="card-body filter-body results-table" id="priceSlider">
                                        <div *ngIf="properties.filteredResults && properties.filteredResults.length > 0" class="p-2">
                                            <mat-slider [min]="properties.priceFilter.min" [max]="properties.priceFilter.max" (input)="priceChange($event)" [(ngModel)]="properties.priceFilter.current"></mat-slider>
                                            <div class="row">
                                                <div class="col-6 text-left">
                                                    <b>Min:</b><br>{{properties.priceFilter.min | currency:'R'}}
                                                </div>
                                                <div class="col-6 text-right">
                                                    <b>Max:</b><br>{{properties.priceFilter.current | currency:'R'}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center" *ngIf="!properties.filteredResults || properties.filteredResults.length == 0">
                                            N/A
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card m-1 box-shadow">
                                    <div class="card-header p-0 text-10">
                                        Type
                                    </div>
                                    <div class="card-body results-table filter-body p-2 result-padding">
                                        <div class="w-50 radio radio-success float-left">
                                            <input id="typeRegular" type="radio" [checked]="data.tyreType == 'regular'" (click)="update('tyreType', 'regular'); applyFilters('type')">
                                            <label for="typeRegular">
                                                Regular
                                            </label>
                                        </div>
                                        <div class="w-50 radio radio-success float-left">
                                            <input id="typeRunFlat" type="radio" [checked]="data.tyreType =='runFlat'" (click)="update('tyreType', 'runFlat'); applyFilters('type')">
                                            <label for="typeRunFlat">
                                                Run Flat
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card m-1 box-shadow">
                                    <div class="card-header p-0 text-10">
                                        Retailer
                                    </div>
                                    <div class="card-body results-table filter-body p-2 result-padding">
                                        <div class="w-100 float-left" *ngFor="let retailer of properties.retailers; let i = index" [hidden]="!retailer.visible">
                                            <div class="checkbox checkbox-success float-left">
                                                <input id="retailer{{retailer.id}}" type="checkbox" [checked]="retailer.checked" (change)="toggleRetailer(retailer)">
                                                <label for="retailer{{retailer.id}}">
                                                    {{retailer.name}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="text-center" *ngIf="!properties.retailers || properties.retailers.length == 0">
                                            N/A
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card m-1 box-shadow">
                                    <div class="card-header p-0 text-10">
                                        Model
                                    </div>
                                    <div class="card-body results-table filter-body p-0">
                                        <div class="card model-card m-0" [hidden]="!properties.models || properties.models.length == 0" *ngFor="let brand of properties.models" [hidden]="!brand.visible">
                                            <div class="card-header text-center"><b>{{brand.brand}}</b></div>
                                            <div class="card-body p-2 result-padding">
                                                <div class="w-100 float-left" *ngFor="let model of brand.models; let i = index" [hidden]="!model.visible">
                                                    <div class="checkbox checkbox-success float-left">
                                                        <input id="{{brand.brand}}_model_{{model.id}}" type="checkbox" [checked]="model.checked" (change)="togglelModel(model)">
                                                        <label for="{{brand.brand}}_model_{{model.id}}">
                                                            {{model.modelName}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center" *ngIf="!properties.models || properties.models.length == 0">
                                            N/A
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-9 p-1">
                        <div class="card m-2 box-shadow" *ngFor="let result of properties.filteredResults">
                            <div class="card-body results-table p-2">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="col-3 text-center" style="padding-right:0pt; padding-left:2pt">
                                                <div class="text-center"><h6 class="font-weight-bold h6-sm">{{result.partner}}</h6></div>
                                                <img class="p-1 result-img" src="../../assets/{{result.partner}}.jpg" />
                                                <div class="text-left p-1">
                                                    <div class="row m-0 p-0" style="padding-left:5pt">
                                                        <div class="col-2 p-0">
                                                            <a href="https://www.google.com/maps/search/{{result.partner}} {{result.branch.location}}" target="_blank"><img ngbTooltip="View on Google Maps" class="pin-icon" src="../../assets/Pin.png" alt="Location"/></a>
                                                        </div>
                                                        <div class="col-10 p-0">
                                                            {{result.branch.name}}
                                                        </div>
                                                    </div>
                                                    <div class="row m-0 p-0" style="padding-left:5pt">
                                                        <div class="col-2 p-0"></div>
                                                        <div class="col-10 p-0">
                                                            {{result.location.suburb}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 border-right" style="padding-left:20pt; padding-right:10pt">
                                                <div class="row">
                                                    <div class="col-4 results-col text-center">
                                                        <img *ngIf="!result.runFlat" class="result-tyre" src="../../assets/Tyres/{{result.brand}}_{{result.tyreModel}}_{{result.tyreWidth}}_{{result.tyreProfile}}_R{{result.wheelSize}}.jpg"
                                                        />
                                                        <img *ngIf="result.runFlat" class="result-tyre" src="../../assets/Tyres/{{result.brand}}_{{result.tyreModel}}_{{result.tyreWidth}}_{{result.tyreProfile}}_R{{result.wheelSize}}_Runflat.jpg"
                                                        />
                                                    </div>
                                                    <div class="col-8 results-text results-col" style="padding-left:10pt">
                                                        <br>
                                                        {{result.brand}}
                                                        <br> {{result.tyreModel}}
                                                        <br>
                                                        <span *ngIf="result.runFlat">Run Flat</span>
                                                        <div class="row" style="position: absolute; bottom:0; padding-left: 10pt;">
                                                            <div class="col-12 results-col">
                                                                <br>
                                                                <br>
                                                                <br>
                                                                <img class="result-logo" src="../../assets/Tyre Manufacturer/{{result.brand}}.png" />
                                                            </div>
                                                        </div>
            
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 text-center border-dashed">
                                                <div class="row" style="margin-bottom:5pt">
                                                    <div class="col-12">
                                                        <span class="font-italic font-weight-bold" style="color:red">Included:</span>
                                                        <!-- <div class="strong included-text rounded">Included</div> -->
                                                    </div>
                                                </div>
                                                <div class="row" *ngFor="let service of result.partnerDetails.services">
                                                    <div class="col-12 results-col" *ngIf="service.show">
                                                        {{service.name}}
                                                    </div>
                                                </div>
            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 results-col text-center">
                                        <h6>
                                            <b>{{result.totalPrice | currency:'R'}}</b>
                                        </h6>
                                        <div style="padding-top:5pt; padding-bottom:5pt;" >
                                            <a href="javascript:void(0)" class="black-link" (click)="viewBreakdown(result)">
                                                View Deal
                                            </a>
                                        </div>
                                        <div class="text-center p-2" style="padding-left: 12pt !important;padding-right: 12pt !important;" >
                                            <div class="checkbox checkbox-success checkbox-green select-box rounded" [ngClass]="{selectedBox : result.contactMe}">
                                                <input id="select_{{result.index}}" type="checkbox" [checked]="result.contactMe" (change)="checkSelect(result)">
                                                <label for="select_{{result.index}}">
                                                    SELECT
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card m-1 text-center box-shadow" *ngIf="properties.results && properties.results.length > 0 && properties.filteredResults.length == 0 ">
                            <div class="card-body">
                                <br>
                                <img src="../../assets/no_results.png" class="search-icon" />
                                <br>
                                <br>
                                <h5>No Results Found</h5>
                                <h6>Please refine your search</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
</div>

<div class="show-on-mobile">         
        <mat-sidenav-container class="mobile-container" fullscreen>
            <mat-sidenav #drawer class="mobile-sidenav rounded-right" mode="over">
                <div class="mobile-sidenav-top p-2">
                    <div class="row m-0">
                        <div class="col-7 p-0 text-left">
                           <i class="fa fa-chevron-left text-success" (click)="drawer.toggle()" style="font-size:12pt"></i>
                            &nbsp;{{properties.mobileSidenav.text}}
                        </div>
                        <div class="col-5 p-0 text-right">
                            <a *ngIf="properties.mobileSidenav.mode=='filter'" href="javascript:void(0)" (click)="resetFilters()">Reset Filter</a>
                        </div>
                    </div>
                </div>
                <div class="mobile-filter" *ngIf="properties.mobileSidenav.mode=='filter'">
                        <div class="row">
                        <div class="col-12">
                            <div class="card m-1 box-shadow">
                                <div class="card-header p-0 text-10">
                                    Price
                                </div>
                                <div class="card-body filter-body results-table" id="priceSlider">
                                    <div *ngIf="properties.filteredResults && properties.filteredResults.length > 0" class="p-2">
                                        <mat-slider [min]="properties.priceFilter.min" [max]="properties.priceFilter.max" (input)="priceChange($event)" [(ngModel)]="properties.priceFilter.current"></mat-slider>
                                        <div class="row">
                                            <div class="col-6 text-left">
                                                <b>Min:</b> {{properties.priceFilter.min | currency:'R'}}
                                            </div>
                                            <div class="col-6 text-right">
                                                <b>Max:</b> {{properties.priceFilter.current | currency:'R'}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center" *ngIf="!properties.filteredResults || properties.filteredResults.length == 0">
                                        N/A
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card m-1 box-shadow">
                                <div class="card-header p-0 text-10">
                                    Type
                                </div>
                                <div class="card-body results-table filter-body p-2 result-padding">
                                    <div class="w-50 radio radio-success float-left">
                                        <input id="typeRegular" type="radio" [checked]="data.tyreType == 'regular'" (click)="update('tyreType', 'regular'); applyFilters('type')">
                                        <label for="typeRegular">
                                            Regular
                                        </label>
                                    </div>
                                    <div class="w-50 radio radio-success float-left">
                                        <input id="typeRunFlat" type="radio" [checked]="data.tyreType =='runFlat'" (click)="update('tyreType', 'runFlat'); applyFilters('type')">
                                        <label for="typeRunFlat">
                                            Run Flat
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-12">
                                <div class="card m-1 box-shadow">
                                    <div class="card-header p-0 text-10">
                                        Retailer
                                    </div>
                                    <div class="card-body results-table filter-body p-2 result-padding">
                                        <div class="w-100 float-left" *ngFor="let retailer of properties.retailers; let i = index" [hidden]="!retailer.visible">
                                            <div class="checkbox checkbox-success float-left">
                                                <input id="retailer{{retailer.id}}" type="checkbox" [checked]="retailer.checked" (change)="toggleRetailer(retailer)">
                                                <label for="retailer{{retailer.id}}">
                                                    {{retailer.name}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="text-center" *ngIf="!properties.retailers || properties.retailers.length == 0">
                                            N/A
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card m-1 box-shadow">
                                    <div class="card-header p-0 text-10">
                                        Model
                                    </div>
                                    <div class="card-body results-table filter-body p-0">
                                        <div class="card model-card m-0" [hidden]="!properties.models || properties.models.length == 0" *ngFor="let brand of properties.models" [hidden]="!brand.visible">
                                            <div class="card-header text-center"><b>{{brand.brand}}</b></div>
                                            <div class="card-body p-2 result-padding">
                                                <div class="w-100 float-left" *ngFor="let model of brand.models; let i = index" [hidden]="!model.visible">
                                                    <div class="checkbox checkbox-success float-left">
                                                        <input id="{{brand.brand}}_model_{{model.id}}" type="checkbox" [checked]="model.checked" (change)="togglelModel(model)">
                                                        <label for="{{brand.brand}}_model_{{model.id}}">
                                                            {{model.modelName}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center" *ngIf="!properties.models || properties.models.length == 0">
                                            N/A
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="mobile-sort" *ngIf="properties.mobileSidenav.mode=='sort'" style="line-height:1.5 !important">
                    <div class="p-3">
                        <div class="radio radio-success">
                            <input id="typeLowToHigh" type="radio" [checked]="data.selectedFilter == 'Price: Low to High'" (click)="sort('Price: Low to High')">
                            <label for="typeLowToHigh">
                                Price: Low to High
                            </label>
                        </div>
                        <div class="radio radio-success">
                            <input id="typeHightToLow" type="radio" [checked]="data.selectedFilter == 'Price: High to Low'" (click)="sort('Price: High to Low')">
                            <label for="typeHightToLow">
                                Price: High to Low
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mobile-sort text-center" *ngIf="properties.mobileSidenav.mode=='map'">
                    <div class="p-3">
                        Coming Soon...
                    </div>
                </div>
            </mat-sidenav>
            <div class="mobile-sidenav-content" style="line-height:1.5 !important">
                <div class="fixed-mobile-container">
                        <div class="filter-section p-1">
                                <table class="m-0 text-center w-100">
                                        <tr>
                                            <td class="w-125 green-border">
                                                <img src="../..{{data.whiteSrc}}" class="vehicle-icon-sm" />
                                            </td>
                                            <td class="w-25 green-border">
                                                {{data.width}}/{{data.profile}}/R{{data.size}}
                                            </td>
                                            <td class="w-125 green-border">
                                                x{{data.quantity}}
                                            </td>
                                            <td class="w-25 green-border">
                                                {{properties.label}}
                                            </td>
                                            <td class="w-25">
                                                {{data.location.name}}
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="row m-0 text-center" style="margin-top:5pt !important">
                                        <div class="p-1" [ngClass]="{
                                            'w-33' : data.wheelAlignmentChecked && data.wheelBalancingChecked, 
                                            'w-50' : data.wheelAlignmentChecked
                                        }" *ngIf="data.wheelAlignmentChecked">Wheel Alignment</div>
                                        <div class="p-1" [ngClass]="{
                                            'w-33' : data.wheelAlignmentChecked && data.wheelBalancingChecked, 
                                            'w-50' : data.wheelBalancingChecked
                                        }" *ngIf="data.wheelBalancingChecked">Wheel Balancing</div>
                                        <div [ngClass]="{
                                            'w-100': !data.wheelAlignmentChecked && !data.wheelBalancingChecked, 
                                            'w-33' : data.wheelAlignmentChecked && data.wheelBalancingChecked, 
                                            'w-50' : data.wheelBalancingChecked || data.wheelAlignmentChecked
                                        }">
                                            <button class="btn btn-success plr-8 w-75 fs-9" type="button" style="max-width: 100pt !important" [routerLink]="['/']" [queryParams]="{ selected: data.selected, width: data.width, profile: data.profile, size: data.size, quantity: data.quantity, brand: data.brand, location: data.location.highLevel, subLocations: data.location.lowLevel, wheelAlignmentChecked: data.wheelAlignmentChecked, wheelBalancingChecked: data.wheelBalancingChecked, selectedFilter: data.selectedFilter }"><i class="fa fa-pencil"></i> Modify</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-section-mobile">
                                    <div class="row text-center">
                                        <div class="col-1"></div>
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-4">
                                                    <button class="btn btn-secondary plr-8 w-100 fs-9" type="button" (click)="sideNav('filter'); drawer.toggle()"><i class="fa fa-filter text-success"></i> Filter</button>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-secondary plr-8 w-100 fs-9" type="button" (click)="sideNav('sort'); drawer.toggle()"><i class="fa fa-sort text-success"></i> Sort</button>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-secondary plr-8 w-100 fs-9" type="button" (click)="sideNav('map'); drawer.toggle()"><i class="fa fa-map-marker text-success"></i> Map</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                </div>
        
                    <div class="results-container">
                            <div class="card m-2 box-shadow" *ngFor="let result of properties.filteredResults">
                                    <div class="card-body results-table p-1">
                                        <div class="row m-0" style="margin-bottom:1pt !important">
                                            <div class="col-6 p-1 border-right">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <img class="result-img" style="margin-right:5pt" src="../../assets/{{result.partner}}.jpg" />
                                                        </td>
                                                        <td class="font-weight-bold text-center" style="font-size:10pt">
                                                            {{result.partner}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-6 p-1">
                                                <a href="https://www.google.com/maps/search/{{result.partner}} {{result.branch.location}}" target="_blank"><img ngbTooltip="View on Google Maps" class="pin-icon" src="../../assets/Pin.png" alt="Location"/></a>{{result.branch.name}}<br>
                                                <span style="margin-left:10pt">{{result.location.suburb}}</span>
                                            </div>
                                        </div>
                                        <hr class="m-0">
                                        <div class="row m-0" style="margin-top:2pt !important">
                                            <div class="col-9 border-right p-0">
                                                <div class="row m-0">
                                                    <div class="col-12 p-1">
                                                        <div class="row m-0">
                                                            <div class="col-4 results-col text-center">
                                                                <img *ngIf="!result.runFlat" class="result-tyre" src="../../assets/Tyres/{{result.brand}}_{{result.tyreModel}}_{{result.tyreWidth}}_{{result.tyreProfile}}_R{{result.wheelSize}}.jpg"
                                                                />
                                                                <img *ngIf="result.runFlat" class="result-tyre" src="../../assets/Tyres/{{result.brand}}_{{result.tyreModel}}_{{result.tyreWidth}}_{{result.tyreProfile}}_R{{result.wheelSize}}_Runflat.jpg"
                                                                />
                                                            </div>
                                                            <div class="col-8 results-text results-col">
                                                                {{result.brand}}
                                                                <br> {{result.tyreModel}}
                                                                <br>
                                                                <span *ngIf="result.runFlat">Run Flat</span>
                                                                <img class="result-logo" style="position:absolute;bottom:5pt" src="../../assets/Tyre Manufacturer/{{result.brand}}.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="m-0 text-left includes-mobile" *ngIf="anyService(result.partnerDetails.services)">
                                                    <span class="font-italic font-weight-bold" style="color:red">Included:</span>&nbsp;
                                                    <span *ngFor="let service of result.partnerDetails.services; let isLast=last"><span class="" *ngIf="service.show">{{service.name}}{{isLast ? '' : ', '}}</span></span>
                                                </div>
                                            </div>
                                            <div class="col-3 results-col text-center">
                                                <h6 class="h6-sm font-weight-bold" style="margin-top:5pt;margin-bottom: 10pt;">{{result.totalPrice | currency:'R'}}</h6>
                                                <a href="javascript:void(0)" class="black-link p-3" (click)="viewBreakdown(result)">
                                                    View Deal
                                                </a>
                                                <br>
                                                <br>
                                                <div class="text-center">
                                                    <div class="checkbox checkbox-success checkbox-green mobile-select select-box rounded" [ngClass]="{selectedBox : result.contactMe}">
                                                        <input id="select_mobile_{{result.index}}" type="checkbox" [checked]="result.contactMe" (change)="checkSelect(result)">
                                                        <label for="select_mobile_{{result.index}}">
                                                            SELECT
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card m-1 text-center box-shadow" *ngIf="properties.results && properties.results.length > 0 && properties.filteredResults.length == 0 ">
                                    <div class="card-body">
                                        <br>
                                        <img src="../../assets/no_results.png" class="search-icon" />
                                        <br>
                                        <br>
                                        <h5>No Results Found</h5>
                                        <h6>Please refine your search</h6>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!properties.results || properties.results.length == 0">
                                        <div class="col-12">
                                            <div [hidden]="properties.loading" class="text-center">
                                                <br>
                                                <br>
                                                <img src="../../assets/no_results.png" class="search-icon" />
                                                <br>
                                                <br>
                                                <h5>No Results Found</h5>
                                                <h6>Please refine your search</h6>
                                            </div>
                                            <div [hidden]="!properties.loading" class="text-center">
                                                <br>
                                                <br>
                                                <img src="../../assets/loading.gif" class="search-icon" />
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <h5>Searching</h5>
                                                <h6>Please wait...</h6>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                    </div>
                        
                                <div class="show-on-mobile text-center m-4">
                                        <div class="row m-1 font-weight-bold">
                                          <div class="col-6 text-left">
                                            <a [routerLink]="['/termsOfUse']">Terms of Use</a>
                                          </div>
                                          <div class="col-6 text-right">
                                            <a [routerLink]="['/privacyPolicy']">Privacy Policy</a>
                                          </div>
                                        </div>
                                        <div class="row m-1">
                                          <div class="col-12">
                                              Facile Technologies Pty Ltd © {{year}}
                                          </div>
                                        </div>
                                      </div>
            </div>
        </mat-sidenav-container>   
    </div>
        
<footer class="footer sticky-footer-mobile show-on-mobile" [hidden]="!properties.showContactMe">
    <button class="btn btn-success shadow-btn h-100 w-100 custom contact-me-btn" (click)="openContactMeForm()" type="button">CONTACT ME ></button>
</footer>

<footer class="footer sticky-footer m-2 p-2 hide-from-mobile" [hidden]="!properties.showContactMe">
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="text-center m-2">
                    <h6>Please enter your details and our Partners will contact you</h6>
                </div>
                <form name="searchResultsContact" #searchResultsContact="ngForm">
                    <div class="row">
                        <div class="col-3 p-1">
                                <input id="searchContactName" name="searchContactName" type="text" class="form-control" placeholder="Name" [(ngModel)]="data.getContacted.name"
                                required />
                        </div>
                        <div class="col-3 p-1">
                                <input id="searchMobileNumber" name="searchMobileNumber" type="text" class="form-control" pattern="[0-9]*" minlength="10" maxlength="10" placeholder="Mobile Number" [(ngModel)]="data.getContacted.mobile"
                                required />
                        </div>
                        <div class="col-3 p-1">
                                <input id="searchEmail" name="searchEmail" type="text" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email Address" [email]="true" [(ngModel)]="data.getContacted.email"
                                required />
                        </div>
                        <div class="col-3 p-1">
                            <button class="btn btn-success shadow-btn h-100 w-100 custom contact-me-btn" id="contactMeBtn" type="button" [disabled]="!searchResultsContact.form.valid" (click)="submitContactForm()">CONTACT ME ></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</footer>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title custom">Cost Breakdown</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body custom-lite">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of properties.details.breakdown" [ngClass]="{strong : row.line1 == 'Total'}">
                    <td>{{row.line1}}
                        <br>{{row.line2}}</td>
                    <td>{{row.quantity}}</td>
                    <td>{{row.totalCost | currency:'R'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>

<ng-template #searchLocationModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title custom">Location</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body custom-lite custom">
        <div class="card" *ngFor="let location of properties.locations">
            <div class="card-header card-header-light">
                <div class="row">
                    <div class="col-2">
                        <div class="checkbox checkbox-success">
                            <input id="{{location.name}}" type="checkbox" [checked]="location.checked" (change)="topLevelCheck(location)">
                            <label for="{{location.name}}">&nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="col-8 font-weight-bold" (click)="location.collapsed = !location.collapsed" style="cursor: pointer;">
                        {{location.name}}
                    </div>
                </div>
            </div>
            <div class="card-body" [hidden]="location.collapsed">
                <div class="checkbox checkbox-success w-50 float-left" *ngFor="let sublocation of location.sub_locations">
                    <input id="{{sublocation.name}}" type="checkbox" [checked]="sublocation.checked" (change)="lowLevelCheck(location, sublocation)">
                    <label for="{{sublocation.name}}">
                        {{sublocation.name}}
                    </label>
                </div>
                <div class="text-center" [hidden]="location.sub_locations.length > 0">
                    None Currently
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Done</button>
    </div>
</ng-template>

<ng-template #contactFormModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title custom">Details submitted</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body custom-lite text-center">
            Thanks! Your details have been submitted and our Partners will be in touch shortly
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
            </div>
    </ng-template>

<ng-template #mobileContactModal let-mc="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title custom">Contact Details</h4>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal" #btnClose (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body custom-lite text-center">
        Please enter your details and our Partners will contact you<br><br>
        <div class="row m-0">
            <div class="col-12 p-1">
                <input id="searchContactNameMobile" name="searchContactName" type="text" class="form-control" placeholder="Name" [(ngModel)]="data.getContacted.name"
                required />
            </div>
        </div>
        <div class="row m-0">
            <div class="col-12 p-1">
                <input id="searchMobileNumberMobile" name="searchMobileNumber" type="text" class="form-control" pattern="[0-9]*" minlength="10" maxlength="10" placeholder="Mobile Number" [(ngModel)]="data.getContacted.mobile"
                required />
            </div>
        </div>
        <div class="row m-0">
            <div class="col-12 p-1">
                <input id="searchEmail" name="searchEmailMobile" type="text" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email Address" [email]="true" [(ngModel)]="data.getContacted.email"
                required />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row m-0">
            <div class="col-12 p-1">
                <button class="btn btn-success shadow-btn h-100 w-100 custom contact-me-btn" id="contactMeBtnMobile" type="button" [disabled]="!searchResultsContact.form.valid" (click)="mc();submitContactForm()">SEND</button>
            </div>
        </div>
    </div>
</ng-template>