<nav id="mainNavbar" class="show-on-mobile navbar w-100 navbar-light navbar-fixed-top navbar-expand-lg custom fixed-top">
    <a class="navbar-brand" [routerLink]="['/']">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" class="nav-right text-right">
        <a class="navbar-brand" [routerLink]="['/ourOffering']">
            <span class="nav-right-text text-success">Our Offering</span>
        </a>
        <br>
        <a class="navbar-brand" [routerLink]="['/howItWorks']">
            <span class="nav-right-text text-success">How it Works</span>
        </a>
        <br>
        <a class="navbar-brand" [routerLink]="['/tyreCare']">
            <span class="nav-right-text text-success">Tyre Care</span>
        </a>
    </div>
</nav>

<div class="jumbotron hero custom">
    <div class="container hide-from-mobile">
        <div class="text-right">
            <h5>
                <a [routerLink]="['/contactUs']">CONTACT US</a>
            </h5>
        </div>
        <div class="row" *ngIf="data">
            <div class="get-it">
                <h1 class="text-center">TyreLess<span class="txt-green">.co.za</span></h1>
                <h4 class="text-center">Search - Select - Save</h4>
                <br>
                <br>
                <div class="row text-left">
                    <div class="col-2">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-3 link" (click)="update('selected','Car')">
                                <span [ngClass]="{linkSelected : data.selected == 'Car'}">
                                    <img src="../../assets/Car.png" class="vehicle-icon" />CAR
                                </span>
                            </div>
                            <div class="col-3 link" (click)="update('selected','4x4 / SUV')">
                                <span [ngClass]="{linkSelected : data.selected == '4x4 / SUV'}">
                                    <img src="../../assets/4x4_SUV.png" class="vehicle-icon" />4x4 / SUV
                                </span>
                            </div>
                            <div class="col-3 link" (click)="update('selected','Bike')">
                                <span [ngClass]="{linkSelected : data.selected == 'Bike'}">
                                    <img src="../../assets/Bike.png" class="vehicle-icon" />BIKE
                                </span>
                            </div>
                            <div class="col-3 link" (click)="update('selected','Commercial')">
                                <span [ngClass]="{linkSelected : data.selected == 'Commercial'}">
                                    <img src="../../assets/Commercial.png" class="vehicle-icon" />COMMERCIAL
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <br>
                <div class="row text-left">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-3 dd-col">
                                <div class="btn-group w-100">
                                    <button class="btn w-100 btn-secondary dropdown-toggle dd-t-custom" type="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <div class="row">
                                            <div class="col-5 dd-col dd-left">
                                                Tyre
                                                <br> Width
                                            </div>
                                            <div class="col-5 dd-col dd-right">{{data.width}}</div>
                                            <div class="col-2 dd-col dd-caret">
                                                <i class="fa fa-angle-down"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="button" *ngFor="let width of properties.tyreWidths" (click)="update('width', width)">
                                            {{ width }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 dd-col">
                                <div class="btn-group w-100">
                                    <button class="btn w-100 btn-secondary dropdown-toggle dd-t-custom" type="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <div class="row">
                                            <div class="col-5 dd-col dd-left">
                                                Tyre
                                                <br> Profile
                                            </div>
                                            <div class="col-5 dd-col dd-right">{{ data.profile }}</div>
                                            <div class="col-2 dd-col dd-caret">
                                                <i class="fa fa-angle-down"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="button" *ngFor="let profile of properties.tyreProfiles" (click)="update('profile', profile)">
                                            {{ profile }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 dd-col">
                                <div class="btn-group w-100">
                                    <button class="btn w-100 btn-secondary dropdown-toggle dd-t-custom" type="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <div class="row">
                                            <div class="col-5 dd-col dd-left">
                                                Wheel
                                                <br> Size
                                            </div>
                                            <div class="col-5 dd-col dd-right">{{ data.size }}</div>
                                            <div class="col-2 dd-col dd-caret">
                                                <i class="fa fa-angle-down"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="button" *ngFor="let size of properties.wheelSizes" (click)="update('size', size)">
                                            {{ size }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 dd-col">
                                <div class="btn-group w-100">
                                    <button class="btn w-100 btn-secondary dropdown-toggle dd-t-custom" type="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <div class="row">
                                            <div class="col-5 dd-col dd-left">
                                                <div style="line-height:25pt">Quantity</div>
                                            </div>
                                            <div class="col-5 dd-col dd-right">{{ data.quantity }}</div>
                                            <div class="col-2 dd-col dd-caret">
                                                <i class="fa fa-angle-down"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="button" *ngFor="let quantity of properties.quantities" (click)="update('quantity', quantity)">
                                            {{ quantity }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6 dd-col">
                                <ss-multiselect-dropdown [options]="properties.brands" [texts]="brandTexts" [settings]="dropdownSettings" [(ngModel)]="data.brand"></ss-multiselect-dropdown>
                            </div>
                            <div class="col-6 dd-col">
                                <div class="btn-group w-100">
                                    <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom" type="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" (click)="openLocationModal()">
                                        <div class="row">
                                            <div class="col-3 dd-col dd-left">
                                                <div style="line-height:25pt">Location</div>
                                            </div>
                                            <div class="col-7 dd-col dd-right">{{ data.location.name }}</div>
                                            <div class="col-2"></div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div>
                    <div class="checkbox checkbox-success float-left">
                        <input id="wheelAlignmentSm" type="checkbox" [checked]="data.wheelAlignmentChecked" (change)="data.wheelAlignmentChecked = !data.wheelAlignmentChecked">
                        <label for="wheelAlignment">
                            Wheel Alignment
                        </label>
                    </div>
                    <div class="checkbox checkbox-success float-left">
                        <input id="wheelBalancingSm" type="checkbox" [checked]="data.wheelBalancingChecked" (change)="data.wheelBalancingChecked = !data.wheelBalancingChecked">
                        <label for="wheelBalancing">
                            Wheel Balancing
                        </label>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2 text-center">
                        <button [routerLink]="['/search']" [queryParams]="{ selected: data.selected, width: data.width, profile: data.profile, size: data.size, quantity: data.quantity, brand: data.brand, location: data.location.highLevel, subLocations: data.location.lowLevel, wheelAlignmentChecked: data.wheelAlignmentChecked, wheelBalancingChecked: data.wheelBalancingChecked, selectedFilter: data.selectedFilter }"
                            class="btn btn-success w-100 p-3" type="button" [disabled]="!data.brand || data.brand.length==0 || data.location.name == 'Unselected'">SEARCH</button>
                    </div>
                    <div class="col-5"></div>
                </div>
                <div class="row circle-links">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-3">
                                <button [routerLink]="['/ourOffering']" class="btn btn-secondary round-btn" type="button">Our
                                    <br>Offering</button>
                            </div>
                            <div class="col-3">
                                <button [routerLink]="['/howItWorks']" class="btn btn-secondary round-btn" type="button">How it
                                    <br>Works</button>
                            </div>
                            <div class="col-3">
                                <button [routerLink]="['/tyreCare']" class="btn btn-secondary round-btn" type="button">Tyre
                                    <br>Care</button>
                            </div>
                            <div class="col-3">
                                <button [routerLink]="['/contactUs']" class="btn btn-secondary round-btn" type="button">About
                                    <br>Us</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="show-on-mobile container">
        <div class="row">
            <div class="get-it text-center">
                <h2><b>TyreLess<span class="txt-green">.co.za</span></b></h2>
                <h4>Search - Select - Save</h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3 link" (click)="update('selected','Car')">
                <img src="../../assets/Car.png" class="vehicle-icon" />

                <span [ngClass]="{linkSelected : data.selected == 'Car'}">
                    <br> CAR
                </span>
            </div>
            <div class="col-3 link" (click)="update('selected','suv')">
                <img src="../../assets/4x4_SUV.png" class="vehicle-icon" />
                <br>
                <span [ngClass]="{linkSelected : data.selected == 'suv'}">
                    4x4 / SUV
                </span>
            </div>
            <div class="col-3 link" (click)="update('selected','bike')">
                <img src="../../assets/Bike.png" class="vehicle-icon" />
                <br>
                <span [ngClass]="{linkSelected : data.selected == 'bike'}">
                    BIKE
                </span>
            </div>
            <div class="col-3 link" (click)="update('selected','commercial')">
                <img src="../../assets/Commercial.png" class="vehicle-icon" />
                <br>
                <span [ngClass]="{linkSelected : data.selected == 'commercial'}">
                    COMMERCIAL
                </span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3 dd-col">
                <div class="btn-group w-100">
                    <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="dd-left">
                            Tyre Width
                        </div>
                        <span class="dd-col dd-right">{{ data.width }}</span>
                        <i class="dd-caret fa fa-angle-down"></i>
                    </button>
                    <div class="w-100 dropdown-menu">
                        <button class="dropdown-item" type="button" *ngFor="let width of properties.tyreWidths" (click)="update('width', width)">
                            {{ width }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-3 dd-col">
                <div class="btn-group w-100">
                    <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="dd-left">
                            Tyre Profile
                        </div>
                        <span class="dd-col dd-right">{{ data.profile }}</span>
                        <i class="dd-caret fa fa-angle-down"></i>
                    </button>
                    <div class="w-100 dropdown-menu">
                        <button class="dropdown-item" type="button" *ngFor="let profile of properties.tyreProfiles" (click)="update('profile', profile)">
                            {{ profile }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-3 dd-col">
                <div class="btn-group w-100">
                    <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="dd-left">
                            Wheel Size
                        </div>
                        <span class="dd-col dd-right">{{ data.size }}</span>
                        <i class="dd-caret fa fa-angle-down"></i>
                    </button>
                    <div class="w-100 dropdown-menu">
                        <button class="dropdown-item" type="button" *ngFor="let size of properties.wheelSizes" (click)="update('size', size)">
                            {{ size }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-3 dd-col">
                <div class="btn-group w-100">
                    <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="dd-left">
                            Quantity
                        </div>
                        <span class="dd-col dd-right">{{ data.quantity }}</span>
                        <i class="dd-caret fa fa-angle-down"></i>
                    </button>
                    <div class="w-100 dropdown-menu">
                        <button class="dropdown-item" type="button" *ngFor="let quantity of properties.quantities" (click)="update('quantity', quantity)">
                            {{ quantity }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 dd-col">
                <ss-multiselect-dropdown [options]="properties.brands" [texts]="brandTexts" [settings]="mobileDropdownSettings" [(ngModel)]="data.brand"></ss-multiselect-dropdown>
            </div>
            <div class="col-6 dd-col">
                <div class="btn-group w-100 h-100">
                    <button class="w-100 btn btn-secondary dropdown-toggle dd-t-custom" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" (click)="openLocationModal()">
                        <div class="dd-left">
                            Location
                        </div>
                        <span class="dd-col dd-right">{{ data.location.name }}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-6">
                <div class="checkbox checkbox-success float-left">
                    <input id="wheelAlignment" type="checkbox" [checked]="data.wheelAlignmentChecked" (change)="data.wheelAlignmentChecked = !data.wheelAlignmentChecked">
                    <label for="wheelAlignment">
                        Wheel Alignment
                    </label>
                </div>
            </div>
            <div class="col-6">
                <div class="checkbox checkbox-success float-left">
                    <input id="wheelBalancing" type="checkbox" [checked]="data.wheelBalancingChecked" (change)="data.wheelBalancingChecked = !data.wheelBalancingChecked">
                    <label for="wheelBalancing">
                        Wheel Balancing
                    </label>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <button [routerLink]="['/search']" class="btn btn-success w-100 p-3" type="button" [queryParams]="{ selected: data.selected, width: data.width, profile: data.profile, size: data.size, quantity: data.quantity, brand: data.brand, location: data.location.highLevel, subLocations: data.location.lowLevel, wheelAlignmentChecked: data.wheelAlignmentChecked, wheelBalancingChecked: data.wheelBalancingChecked, selectedFilter: data.selectedFilter }"
                    [disabled]="!data.brand || data.brand.length==0 || data.location.name == 'Unselected'">SEARCH</button>
            </div>
        </div>
    </div>
</div>

<section class="brands hide-from-mobile">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="col-2">
                    <span class="helper">
                    </span>
                    <img src="../assets/Best Drive.jpg" class="brand-img" />
                </div>
                <div class="col-2">
                    <span class="helper">
                    </span>
                    <img src="../assets/Speedy.jpg" class="brand-img" />
                </div>
                <div class="col-2">
                    <span class="helper">
                    </span>
                    <img src="../assets/Supaquick.jpg" class="brand-img" />
                </div>
                <div class="col-2">
                    <span class="helper">
                    </span>
                    <img src="../assets/Tiger Wheel &amp; Tyre.jpg" class="brand-img" />
                </div>
                <div class="col-2">
                    <span class="helper">
                    </span>
                    <img src="../assets/Tyremart.jpg" class="brand-img" />
                </div>
                <div class="col-2">
                    <span class="helper">
                    </span>
                    <img src="../assets/Tyres &amp; More.jpg" class="brand-img" />
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</section>
<section class="information">
    <p class="text-center">Search the best deals from hundreds of Partners countrywide</p>
</section>

<ng-template #locationModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title custom">Location</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body custom-lite custom">
        <div class="card" *ngFor="let location of properties.locations">
            <div class="card-header">
                <div class="row">
                    <div class="col-2">
                        <div class="checkbox checkbox-success checkbox-adjust">
                            <input id="{{location.name}}" type="checkbox" [checked]="location.checked" (change)="topLevelCheck(location)">
                            <label for="{{location.name}}">
                            </label>
                        </div>
                    </div>
                    <div class="col-8" (click)="location.collapsed = !location.collapsed" style="cursor: pointer;">
                        {{location.name}}
                    </div>
                </div>
            </div>
            <div class="card-body" [hidden]="location.collapsed">
                <div class="checkbox checkbox-success w-50 float-left" *ngFor="let sublocation of location.sub_locations">
                    <input id="{{sublocation.name}}" type="checkbox" [checked]="sublocation.checked" (change)="lowLevelCheck(location, sublocation)">
                    <label for="{{sublocation.name}}">
                        {{sublocation.name}}
                    </label>
                </div>
                <div class="text-center" [hidden]="location.sub_locations.length > 0">
                    None Currently
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Done</button>
    </div>
</ng-template>